.index-brand {
    width: 50px;
    height: 30px;
    padding-bottom: 3px;
}

body {
    background-color: #e9ecef;
}
hr {
    border-bottom: 1px solid #ccc;
}


*{
    margin: 0px;
    padding: 0px;
}
/*header 头*/
.header-search {
    width: 245px;
    margin-right: 6px;
}
.header-nav {
    margin-right: 180px;
}
/* 弹出登陆框按钮 */
#login-header{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#login-header a{
    font-size: 24px;
    text-decoration: none;
    color: black;
}

/* 登陆框主体 */
.login{
    /*position: absolute;*/
    width: 512px;
    height: 284px;
    /*z-index: 9999;*/
    background-color: white;
    border-radius: 5px;
    /* 这里要注意绝对定位的盒子怎么在屏幕显示居中 */
    /*left: 50%;*/
    /*margin-left: -256px;*/
    /*margin-top: 142px;*/
    border: 1px solid gray;
    background-color: burlywood;
    margin: 43px auto;
}
/* 登陆框标题 */
#login-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    cursor: move;
    font-weight: 600;
    font-size: large;
}

/* 登陆表单 */
.login-input{
    margin: 20px 0px 30px 0px;
}
.login-input label{
    float: left;
    height: 35px;
    line-height: 35px;
    width: 90px;
    padding-left: 10px;
    text-align: right;
    font-size: 14px;
}
.login-input input.list-input{
    height: 35px;
    line-height: 35px;
    width: 350px;
    text-indent: 5px;
    border-radius: 4px;
}
/* 登陆框登陆按钮 */
.loginSubmit{
    width: 260px;
    height: 40px;
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    margin-left: 120px;

}
/* 遮盖层 */
.bg{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    opacity: 0.3;
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    display: none;
}
/*登录按钮*/
.login-btn {
    margin-left: 160px;
    margin-right: 90px;
}
/*关闭按钮*/
.close-btn {
    width: 54px;
    height: 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 6px;
    background-color: #5cb85c;
    border-radius: 4px;
    border: 1px solid #5cb85c;
}

/*register页面的设计*/
.card-body {
    padding: 1.875rem;
    margin: 0 auto;
    min-height: 1px;
    width: 410px;
    height: 500px;
    background-color: #dcdcdc;
}
.register-title {
    margin-bottom: 30px;
}
.register-form {
    width: 350px;
    height: 400px;
}
.register-form div{
    margin-bottom: 22px;
    margin-left: 19PX;
}
.register-form div input {
    height: 44px;
    font-weight: 800;
}
.register-form button {
    margin-left: 19px;
    width: 330px;
}
.register-agreement {
    margin-top: 10px;
}
.register-text {
    margin-left: 16px;
    margin-top: 26px;
    font-size: 12px;
}
.register-text a {
    text-decoration: none;
    color: #8c8c8c;
    cursor: pointer;
}
.register-text a:hover {
    text-decoration: none;
    color: #0C0C0C;
}
    /*地脚*/
/*底部内容*/
.text-foot {
    text-align: center;
    margin-top: 99px;
}

/*error html*/
.error-page {
    margin: 30px 25%;
}
.error-page h1 {
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
}
.error-page p {
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
}

/*publish html*/
.main {
    margin: 50px;
}
.section {
    margin-top: 10px;
}
/*publish的view界面样式*/
.publish-view {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}
.publish-view-input {
    width: 360px;
}
.publish-view-input-content {
    border-radius: 3px;
}
.publish-view textarea {
    border-radius: 3px;
}
.publish-view-textarea {
    border-radius: 4px;
}
.btn-red-info {
    float: right;
    margin-right: -66px;
}
/*标签的间距*/
.tag-question-margin {
    cursor: pointer;
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    font-weight: 500;
    line-height: 14px;
    font-size: 12px;
}

/*tag puilsh发布分享的问题的tag距离上边框的距离*/
.tab-margin-top {
    margin-top: 5px;
    margin-left: 10px;
}
/*tag puilsh发布分享的问题的tag距离上边框的距离*/
.tab-margin-top {
    margin-top: 5px;
    margin-left: 10px;
}
.publish-tag-content {
    margin-top: 8px;
    display: none;
}

/*index 界面的样式*/
.index-main {
    padding-left: 18%;
}
.user-img {
    width: 500px;
    height: 280px;
}
.view-comment-count {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.index-background {
    background-color: white;
    border-radius: 4px;
}
.index-left-with {
    width: 999px;
}
/*标题*/
.index-title a {
    font-weight: 600;
    color: #1A1A17;
    text-decoration: none;
    cursor: pointer;
}
.index-title a:hover {
    color: #95958a;
}
.index-info {
    background-color: #eff4f8;
    border-radius: 5px;
}
.index-info h4 {
    margin-top: 20px;
    margin-left: 25px;
}

/*index 展示信息*/
.index-info dl {
    margin-left: 25px;
    margin-bottom: 10px;
}
.index-info dl dt {
    float: left;
}
.index-sales {
    float: left;
    width: 200px;
}
.index-money {
    float: left;
    color: red;
    font-weight: 800;
}
/*view 界面*/
/*发布人*/
.initiator {
    margin-top: 50px;
}
.initiator-body {
    margin-top: 15px;
    margin-bottom: 5px;
}
.initiator-name {
    margin-left: 3px;
    margin-top: 17px;
    color: #999999;
}
.view-user {
    width: 42px;
    height: 42px;
}
.view-manager {
    font-size: 18px;
    font-weight: 600;
}
.view-title {
    font-weight: 600;
    font-size: 22px;
}
.view-href {
    margin-top: 11px;
    margin-left: 34px;
}
.view-href li {
    margin-bottom: 5px;
}
.view-row {
    background-color: beige;
}
.tag-edit {
    margin-top: 12px;
}
.tag-margin {
    margin-right: 30px;
    color: black;
}
.tag-margin:hover {
    color: #95958a;
    cursor: pointer;
}
.view-top {
    margin-top: 20px;
}
.box{
    margin-top: 6px;
    width: 150px;
    height: 150px;
    border: 1px solid #858585;
    border-radius: 5px;
}
#imgShow{
    width: 100%;
    height: 100%;
}