<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <div role="navigation">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!--onerror="javascript:this.src='/images/telegram.png'" 只适用于以下标签: <img>, <input type="image">, <object>, <script>, <style>-->
                        <img alt="Brand" src="/images/brand.png" class="index-brand">
                        <!--旅游系统-->
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav header-nav">
                        <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                    </ul>
                    <form action="/" method="get" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input name="search" type="text" class="form-control header-search" placeholder="你想要的都在这里...">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <!--用户要登录且登录用户的类型要是管理员1 不是普通游客0-->
                        <li th:if="${session.user != null && session.user.getType() == 1}">
                            <a href="/publish/landscape">管理员</a>
                        </li>
                        <!--用户登录了显示的下拉框-->
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <span th:text="${session.user.getName()}"></span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">通知</a></li>
                                <li><a href="/person">个人信息</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">退出</a></li>
                            </ul>
                        </li>
                        <!--用户未登录显示的下拉框-->
                        <li class="dropdown" th:if="${session.user == null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">我<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/login">登录</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/register">注册</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

</body>
</html>