<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/myproject.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <SCRIPT src="/js/bootstrap.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/js/demo.js" type="text/javascript"></SCRIPT>
</head>
<body>
<div th:insert="header :: nav"></div>
<div class="container-fluid main index-main">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 index-background index-left-with">
            <h2>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="text-title" th:text="${session.user.name}"></span>
            </h2>
            <hr/>
            <!--个人信息展示-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-info">
                <h4>个人信息展示：</h4>
                <hr />
                <dl>
                    <dt>账户id：</dt>
                    <dd th:text="${session.user.accountid}"></dd>
                </dl>
                <dl>
                    <dt>电话：</dt>
                    <dd th:text="${session.user.phone}"></dd>
                </dl>
                <dl>
                    <dt>邮箱：</dt>
                    <dd th:text="${session.user.email}"></dd>
                </dl>
                <dl>
                    <dt>头像地址：</dt>
                    <dd th:text="${session.user.avatarUrl}"></dd>
                </dl>
                <dl>
                    <dt>类型[0:游客  1:管理者]：</dt>
                    <dd th:text="${session.user.type}"></dd>
                </dl>
                <dl>
                    <dt>账户创建时间：</dt>
                    <dd th:text="${#dates.format(session.user.ctime,'yyyy-MM-dd')}"></dd>
                </dl>
                <dl>
                    <dt>最近修改时间：</dt>
                    <dd th:text="${#dates.format(session.user.utime,'yyyy-MM-dd')}"></dd>
                </dl>
            </div>
            <hr />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>个人信息修改：</h4>
                <hr />
                <form action="/person" method="post">
                    <input type="hidden" name="id" th:value="${session.user.id}">
                    <div class="form-group form-tag">
                        <label for="avatar">头像[请输入图片网上地址]:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" name="avatar" id="avatar" class="form-control"
                                   placeholder="头像地址，来自网上的地址……" autocomplete="off" th:value="${user!= null?user.avatarUrl:avatar}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="name">用户名:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="name" id="name"
                                   class="form-control publish-view-input-content"
                                   autocomplete="off"
                                   placeholder="不要太长哦……" th:value="${name}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="phone">电话:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="phone" id="phone"
                                   class="form-control publish-view-input-content"
                                   autocomplete="off"
                                   placeholder="请符合规范……" th:value="${phone}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="oldPass">原来密码:</label>
                        <div class="input-group publish-view-input">
                            <input type="password" name="oldPass" id="oldPass" class="form-control publish-view-input-content"
                                   placeholder="旧密码" autocomplete="off"
                                   aria-describedby="basic-addon1">
                            <span class="alert alert-danger" th:if="${personError != null}" th:text="${personError}"></span>
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="newPass">新密码:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="newPass" id="newPass" class="form-control publish-view-input-content"
                                   placeholder="新的密码……" autocomplete="off"
                                   aria-describedby="basic-addon1" th:value="${newPass}">
                        </div>
                    </div>
                    <div class="container-fluid main">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="btn-red-info">
                                <button type="submit" class="btn btn-success btn-publish ">修改
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--左侧内容-->
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>

</div>
<div th:insert="footer :: author"></div>
</body>
</html>