<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>旅行社</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/myproject.css"/>
    <link rel="stylesheet" href="/css/editormd.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <SCRIPT src="/js/bootstrap.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/js/demo.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/js/demo.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/js/editormd.min.js" type="text/javascript"></SCRIPT>
</head>
<body>
<div th:insert="header :: nav"></div>
<!--发布的主要内容-->
<div class="container-fluid main">
    <div class="row">
        <!--主要内容-->
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 publish-view">
            <h2>
                <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                <span class="text-title" th:text="${sectionName}"></span>
            </h2>
            <hr/>
            <!--特色景区-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'landscape'}">
                <form action="/publish/landscape" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group form-tag">
                        <label for="viewTitle">景点标题:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" name="viewTitle" id="viewTitle" class="form-control"
                                   placeholder="景区取名……" autocomplete="off" th:value="${viewTitle}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="openTime">开放时间:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="openTime" id="openTime"
                                   class="form-control publish-view-input-content"
                                   placeholder="按：6:00-18:00 格式书写" th:value="${openTime}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="address">地址:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="address" id="address"
                                   class="form-control publish-view-input-content"
                                   placeholder="记得用省市开头……" th:value="${address}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="price">价格:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="price" id="price" class="form-control publish-view-input-content"
                                   placeholder="不写则为免费……" autocomplete="off"
                                   aria-describedby="basic-addon1" th:value="${price}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="description">描述文本：</label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 publish-view-textarea" id="view-editor">
                        <textarea name="description" id="description" class="form-control"
                                  style="display: none" cols="30" rows="10" th:text="${description}"></textarea>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            editormd("view-editor", {
                                width: "100%",
                                height: "400px",
                                path: "/js/lib/",
                                /*实时生成视图*/
                                delay: 0,
                                /*false:初始化时不展示半边的样式，点击眼睛生成相应的视图*/
                                watch: false,
                                placeholder: "请详细的介绍你要发布的景点.....",
                                /*支持上传图片的功能*/
                                imageUpload: true,
                                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                /*fileController:显示文件夹选择图片获得地址*/
                                imageUploadURL: "/file/upload"

                            });
                        });
                    </script>
                    <div class="form-group form-tag">
                        <label for="tag">添加标签：</label>
                        <input type="text" class="form-control" id="tag" name="tag"
                               autocomplete="off" placeholder="输入标签，以英文 , 号隔开" th:value="${tag}" onclick="showViewTag()">
                        <div id="view-tag" class="publish-tag-content">
                            <!--new tables-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectTag,selectTagStatus:${tags}" th:class="${selectTagStatus.first? 'active':''}">
                                    <a th:href="${'#'+selectTag.categoryName}" aria-controls="home" role="tab"
                                       data-toggle="tab" th:text="${selectTag.categoryName}"></a>
                                </li>
                            </ul>
                            <!--tables panes-->
                            <div class="tab-content tab-margin-top">
                                <div role="tabpanel" th:id="${selectTag.categoryName}"
                                     th:each="selectTag,selectTagStatus:${tags}"
                                     th:class="${selectTagStatus.first? 'tab-pane active':'tab-pane'}">
                                <span class="label label-info tag-question-margin" th:each="tagList:${selectTag.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="viewTag(this)"
                                          th:data-tag="${tagList}">
                                       <span th:text="${tagList}"></span>
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid main">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="">
                                <div class="alert alert-danger btn col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                                     id="viewError" th:if="${viewError != null}" th:text="${viewError}"></div>
                            </div>
                            <div class="btn-red-info">
                                <button type="submit" class="btn btn-success btn-publish " onclick="alterError()">发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--五星级酒店-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'guesthouse'}">
                <form action="/publish/guesthouse" method="post">
                    <div class="form-group form-tag">
                        <label for="hotelName">酒店名称:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">@</span>
                            <input type="text" name="hotelName" id="hotelName" class="form-control"
                                   placeholder="名字……" autocomplete="off" th:value="${name}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="hotelAddress">地址:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="hotelAddress" id="hotelAddress"
                                   class="form-control publish-view-input-content"
                                   placeholder="记得用省市开头，到街道……" th:value="${address}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="hotelPrice">价格:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="hotelPrice" id="hotelPrice" class="form-control publish-view-input-content"
                                   placeholder="核实准确数字……" autocomplete="off"
                                   aria-describedby="basic-addon1" th:value="${price}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="hotelDescription">描述文本：</label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 publish-view-textarea" id="hotel-editor">
                        <textarea name="hotelDescription" id="hotelDescription" class="form-control"
                                  style="display: none" cols="30" rows="10" th:text="${description}"></textarea>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            editormd("hotel-editor", {
                                width: "100%",
                                height: "400px",
                                path: "/js/lib/",
                                /*实时生成视图*/
                                delay: 0,
                                /*false:初始化时不展示半边的样式，点击眼睛生成相应的视图*/
                                watch: false,
                                placeholder: "请详细的介绍你要发布的景点.....",
                                /*支持上传图片的功能*/
                                imageUpload: true,
                                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                /*fileController:显示文件夹选择图片获得地址*/
                                imageUploadURL: "/file/upload"

                            });
                        });
                    </script>
                    <div class="form-group form-tag">
                        <label for="hotelTag">添加标签：</label>
                        <input type="text" class="form-control" id="hotelTag" name="hotelTag"
                               autocomplete="off" placeholder="输入标签，以英文 , 号隔开，请选择对应得tag号"
                               th:value="${tag}" onclick="showSelectTag()">
                        <!--自动选择已有的标签-->
                        <!--默认不展示 display: none-->
                        <div id="select-tag" class="publish-tag-content">
                            <!--new tables-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectTag,selectTagStatus:${tags}" th:class="${selectTagStatus.first? 'active':''}">
                                    <a th:href="${'#'+selectTag.categoryName}" aria-controls="home" role="tab"
                                       data-toggle="tab" th:text="${selectTag.categoryName}"></a>
                                </li>
                            </ul>
                            <!--tables panes-->
                            <div class="tab-content tab-margin-top">
                                <div role="tabpanel" th:id="${selectTag.categoryName}"
                                     th:each="selectTag,selectTagStatus:${tags}"
                                     th:class="${selectTagStatus.first? 'tab-pane active':'tab-pane'}">
                                <span class="label label-info tag-question-margin" th:each="tagList:${selectTag.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${tagList}">
                                       <span th:text="${tagList}"></span>
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid main">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div class="alert alert-danger btn col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                                     id="hotelError" th:if="${hotelError != null}" th:text="${hotelError}"></div>
                            </div>
                            <div class="btn-red-info">
                                <button type="submit" class="btn btn-success btn-publish " onclick=" hotelError()">发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--特色食物-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'specialfood'}">
                <form action="/publish/landscape" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group form-tag">
                        <label for="viewTitle">景点标题:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">@</span>
                            <input type="text" name="viewTitle" id="viewTitle3" class="form-control"
                                   placeholder="景区取名……" autocomplete="off" th:value="${viewTitle}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="openTime">开放时间:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="openTime" id="openTime3"
                                   class="form-control publish-view-input-content"
                                   placeholder="按：6:00-18:00 格式书写" th:value="${openTime}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="address">地址:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="address" id="address3"
                                   class="form-control publish-view-input-content"
                                   placeholder="记得用省市开头……" th:value="${address}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="price">价格:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="price" id="price3" class="form-control publish-view-input-content"
                                   placeholder="不写则为免费……" autocomplete="off"
                                   aria-describedby="basic-addon1" th:value="${price}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="description">描述文本：</label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 publish-view-textarea" id="view-editor3">
                        <textarea name="description" id="description3" class="form-control"
                                  style="display: none" cols="30" rows="10" th:text="${description}"></textarea>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            editormd("view-editor3", {
                                width: "100%",
                                height: "400px",
                                path: "/js/lib/",
                                /*实时生成视图*/
                                delay: 0,
                                /*false:初始化时不展示半边的样式，点击眼睛生成相应的视图*/
                                watch: false,
                                placeholder: "请详细的介绍你要发布的景点.....",
                                /*支持上传图片的功能*/
                                imageUpload: true,
                                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                /*fileController:显示文件夹选择图片获得地址*/
                                imageUploadURL: "/file/upload"

                            });
                        });
                    </script>
                    <div class="form-group form-tag">
                        <label for="tag">添加标签：</label>
                        <input type="text" class="form-control" id="tag3" name="tag"
                               autocomplete="off" placeholder="输入标签，以英文 , 号隔开" th:value="${tag}" onclick="showViewTag3()">
                        <div id="view-tag3" class="publish-tag-content">
                            <!--new tables-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectTag,selectTagStatus:${tags}" th:class="${selectTagStatus.first? 'active':''}">
                                    <a th:href="${'#'+selectTag.categoryName}" aria-controls="home" role="tab"
                                       data-toggle="tab" th:text="${selectTag.categoryName}"></a>
                                </li>
                            </ul>
                            <!--tables panes-->
                            <div class="tab-content tab-margin-top">
                                <div role="tabpanel" th:id="${selectTag.categoryName}"
                                     th:each="selectTag,selectTagStatus:${tags}"
                                     th:class="${selectTagStatus.first? 'tab-pane active':'tab-pane'}">
                                <span class="label label-info tag-question-margin" th:each="tagList:${selectTag.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="viewTag3(this)"
                                          th:data-tag="${tagList}">
                                       <span th:text="${tagList}"></span>
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid main">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="">
                                <div class="alert alert-danger btn col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                                     id="viewError3" th:if="${viewError != null}" th:text="${viewError}"></div>
                            </div>
                            <div class="btn-red-info">
                                <button type="submit" class="btn btn-success btn-publish " onclick="alterError()">发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--著名小吃-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'refreshments'}">
                <form action="/publish/landscape" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group form-tag">
                        <label for="viewTitle">景点标题:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon4">@</span>
                            <input type="text" name="viewTitle" id="viewTitle4" class="form-control"
                                   placeholder="景区取名……" autocomplete="off" th:value="${viewTitle}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="openTime">开放时间:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="openTime" id="openTime4"
                                   class="form-control publish-view-input-content"
                                   placeholder="按：6:00-18:00 格式书写" th:value="${openTime}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="address">地址:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="address" id="address4"
                                   class="form-control publish-view-input-content"
                                   placeholder="记得用省市开头……" th:value="${address}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="price">价格:</label>
                        <div class="input-group publish-view-input">
                            <input type="text" name="price" id="price4" class="form-control publish-view-input-content"
                                   placeholder="不写则为免费……" autocomplete="off"
                                   aria-describedby="basic-addon1" th:value="${price}">
                        </div>
                    </div>
                    <div class="form-group form-tag">
                        <label for="description">描述文本：</label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 publish-view-textarea" id="view-editor4">
                        <textarea name="description" id="description4" class="form-control"
                                  style="display: none" cols="30" rows="10" th:text="${description}"></textarea>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            editormd("view-editor4", {
                                width: "100%",
                                height: "400px",
                                path: "/js/lib/",
                                /*实时生成视图*/
                                delay: 0,
                                /*false:初始化时不展示半边的样式，点击眼睛生成相应的视图*/
                                watch: false,
                                placeholder: "请详细的介绍你要发布的景点.....",
                                /*支持上传图片的功能*/
                                imageUpload: true,
                                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                /*fileController:显示文件夹选择图片获得地址*/
                                imageUploadURL: "/file/upload"

                            });
                        });
                    </script>
                    <div class="form-group form-tag">
                        <label for="tag">添加标签：</label>
                        <input type="text" class="form-control" id="tag4" name="tag"
                               autocomplete="off" placeholder="输入标签，以英文 , 号隔开" th:value="${tag}" onclick="showViewTag4()">
                        <div id="view-tag4" class="publish-tag-content">
                            <!--new tables-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectTag,selectTagStatus:${tags}" th:class="${selectTagStatus.first? 'active':''}">
                                    <a th:href="${'#'+selectTag.categoryName}" aria-controls="home" role="tab"
                                       data-toggle="tab" th:text="${selectTag.categoryName}"></a>
                                </li>
                            </ul>
                            <!--tables panes-->
                            <div class="tab-content tab-margin-top">
                                <div role="tabpanel" th:id="${selectTag.categoryName}"
                                     th:each="selectTag,selectTagStatus:${tags}"
                                     th:class="${selectTagStatus.first? 'tab-pane active':'tab-pane'}">
                                <span class="label label-info tag-question-margin" th:each="tagList:${selectTag.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="viewTag4(this)"
                                          th:data-tag="${tagList}">
                                       <span th:text="${tagList}"></span>
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid main">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="">
                                <div class="alert alert-danger btn col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                                     id="viewError4" th:if="${viewError != null}" th:text="${viewError}"></div>
                            </div>
                            <div class="btn-red-info">
                                <button type="submit" class="btn btn-success btn-publish " onclick="alterError()">发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--预定记录-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'appointmentRecord'}">
                <!--详情展示界面-->
                <div class="media" th:each="reservations:${reservation.data}">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object publish-reservation-img" th:src="${reservations.avatar}" alt="用户头像">
                        </a>
                    </div>
                    <div class="media-body index-info">
                        <h4 class="media-heading" th:text="${reservations.userName}"></h4>
                        <hr />
                        <dl>
                            <dt>用户预定了景区 </dt>
                            <dd>
                                <a class="publish-reservation-viewTitle" th:href="@{'/view/'+ ${reservations.viewId}}"
                                   th:text="${reservations.viewName}"></a>
                            </dd>
                        </dl>
                        <dl th:if="${reservations.phone != null && reservations.phone != ' '}">
                            <dt>用户联系电话：</dt>
                            <dd th:text="${reservations.phone}">
                            </dd>
                        </dl>
                        <dl>
                            <dt>邮箱：</dt>
                            <dd th:text="${reservations.email}"></dd>
                        </dl>
                        <dl>
                            <dt>此景区的价位：</dt>
                            <dd class="index-money" th:text="${reservations.viewPrice}"></dd>
                            <dd>￥</dd>
                        </dl>
                        <dl>
                            <dt>预约时间：</dt>
                            <dd th:text="${#dates.format(reservations.utime,'yyyy-MM-dd HH:mm')}"></dd>
                        </dl>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                </div>
                <!--分页-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${reservation.showFirstPage}">
                                <a th:href="@{'/publish/' + ${section}(page = ${1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:if="${reservation.showPrevious}">
                                <a th:href="@{'/publish/' + ${section}(page=${reservation.currentPage - 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page : ${reservation.pages}"
                                th:class="${reservation.currentPage == page}?'active':''">
                                <a th:href="@{'/publish/' + ${section}(page=${page})}" th:text="${page}"></a>
                            </li>
                            <li th:if="${reservation.showNext}">
                                <a th:href="@{'/publish/' + ${section}(page=${reservation.currentPage + 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${reservation.showEndPage}">
                                <!--配置当前页的路径-->
                                <a th:href="@{'/publish/' + ${section}(page=${reservation.totalPage})}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--左边的导航栏-->
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/publish/landscape" th:class="${section == 'landscape'} ? 'active list-group-item' : 'list-group-item'">景区</a>
                <a href="/publish/guesthouse" th:class="${section == 'guesthouse'} ? 'active list-group-item' : 'list-group-item'">酒店</a>
                <a href="/publish/specialfood" th:class="${section == 'specialfood'} ? 'active list-group-item' : 'list-group-item'">著名菜系</a>
                <a href="/publish/refreshments" th:class="${section == 'refreshments'} ? 'active list-group-item' : 'list-group-item'">特色小吃</a>
                <a href="/publish/appointmentRecord" th:class="${section == 'appointmentRecord'} ? 'active list-group-item' : 'list-group-item'">用户预约记录</a>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: author"></div>
</body>
</html>